@model IPagedList<RestaurantListViewModel>
@{
    ViewBag.Title = "Home Page";
}

@*@section styles {
    <link href="~/Content/jqueryui/jquery-ui.structure.min.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.theme.min.css" rel="stylesheet" />
}*@

<form action="@Url.Action("Index")" method="get"
      data-otf-ajax="true" data-otf-target="#restaurantList">

    <input type="search" name="searchTerm" data-otf-autocomplete="@Url.Action("Autocomplete")" />
    <input type="submit" value="Search By Name" />
</form>



@Html.Partial("_Restaurants", Model)

@*@section scripts {
    <script src="~/Scripts/jquery-ui.min.js"></script>
}*@
